*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{

    width: 100%;
    height: 100%;

}

main{
    width: 100%;
    background-color: #d5ff40;
}

nav{
    /* background-color: blue; */
    padding: 40px 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav #part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

nav h2{
    font-size: 40px;
    font-weight: 400;
}
#part2 a{
    font-size: 20px;
    text-decoration: none;
    color: #111;
}


section{
    padding: 40px 70px;
}

section .hero-text1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: rebeccapurple; */

}

section .hero-text1 h1{
    font-size: 150px;
    text-transform: uppercase;
    line-height: 150px;
}

section .hero-text1 .video{
    width: 330px;
    height: 80px;
    /* background-color: #111; */
    border-radius: 100px;
    margin-top: 20px;
    background-image: url('https://images.unsplash.com/photo-1730298756153-a036f709b2a1?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    padding: 4px;
}

section .hero-text1 .video .play{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 100%;
    border-radius: 100px;
    background-color: #181818;
    border: 2px solid #fff;
}

section .hero-text1 .video .play i{
    font-size: 40px;
    color: #d5ff40;

}



section .hero-text2{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* background-color: rebeccapurple; */

}

section .hero-text2 h1{
    font-size: 150px;
    text-transform: uppercase;
    line-height: 150px;
}

section .hero-text2 p{
    width: 600px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
}

.image{
    position: relative;
    margin-top: 100px;
    width: 90%;
    height: 800px;
    margin-left: 5%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-image: url('https://images.unsplash.com/photo-1592330786422-9f62c2e92489?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
}

.image .arrow{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d5ff40;
    font-size: 50px;

    position: absolute;
    right: 2%;
    top: -7%;
    border: 4px solid #d5ff40;
}

footer{
    width: 100%;
    height: 150px;
    background-color: #010101;
    color: #d5ff40;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h2{
    display: inline-block;
    margin: 0 20px;
}